<h2>Edit Historical Landmark</h2>

<form method="post" action="/landmarks/<%= @landmark.id %>">
  <input type="submit" value="submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
