<h2>All Historical Landmarks</h2>

<% Landmark.all.each do |landmark| %>
  Name: <%= landmark.name %>
  Year Completed: <%= landmark.year %>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
