<h2>All Historical Landmarks</h2>
<% binding.pry %>
<% Landmark.all.each do |landmark| %>
  Name: <%= landmark.name %>
  Year Completed: <%= landmark.year_completed %>
  Figure Related: <%= landmark.figure_id
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
