<h2>All Historical Landmarks</h2>
<% Landmark.all.each do |landmark| %>
  Name: <%= landmark.name %>
  Year Completed: <%= landmark.year_completed %>
  <% figure = Figure.find(landmark.figure_id) %>
  Figure Related: <%= figure.name %>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
