<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
  <input type="submit" value="submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
